@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    height: 80px;
    width: 100%;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    position: absolute;
    top: 325px;
    right: 800px;
}

h1 {
    color: white;
    font-size: 30px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    position: absolute;
    top: 0px;
    right: 787px;
}

h2 {
    color: white;
    font-size: 15px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    position: absolute;
    top: 50px;
    right: -12px;
}

h3 {
    color: white;
    font-size: 15px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    position: absolute;
    top: 50px;
    right: 5px;
}

h4 {
    color: white;
    font-size: 15px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    position: absolute;
    top: 50px;
    right: 28px;
}

p {
    color: white;
    font-size: 20px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    position: absolute;
    top: 150px;
    right: 465px;
}

.css {
    color: white;
    font-size: 70px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    position: absolute;
    top: 250px;
    right: 825px;
    text-decoration: none;
}

.html {
    color: white;
    font-size: 70px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    position: absolute;
    top: 250px;
    right: 1025px;
    text-decoration: none;
}

.js {
    color: white;
    font-size: 70px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    position: absolute;
    top: 250px;
    right: 625px;
    text-decoration: none;
}

.backbtn {
    color: white;
    font-size: 70px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    position: absolute;
    bottom: 50px;
    left: 0px;
}

.gobacktxt {
    color: white;
    font-size: 20px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.nextbtn {
    color: white;
    font-size: 70px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    position: absolute;
    bottom: 50px;
    right: 0px;
}

.gonexttxt {
    color: white;
    font-size: 20px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    position: absolute;
    bottom: 0px;
    right: 15px;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
}

a.active,a:hover{
    color: white;
    transition: .5s;
}

html {
    font-size: 10px;
}

body {
    background: url(images/background.png);
    background-position: 0 1000px;
    font-family: 'Roboto', sans-serif;
    background-position: fixed;
}

.prj2{
    width: 400px;
    border-radius: 8px;
    position: absolute;
    top: 250px;
    right: 750px;
}

.prj2txt {
    color: white;
    font-size: 30px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    position: absolute;
    top: 445px;
    right: 765px;
    text-decoration: none;
}